.full-screen{
    height: 100vh;
    width: 100%;
    padding: 0 2%;
    display: table;
    margin: 0;
    max-width: none;
}

.middle-fullscreen {
    display: table-cell;
    vertical-align: middle;
}

.mainpage img{
    width: 100px;
}

.mainpage h1{
    font-family: 'Righteous', cursive;
    font-size: 3.5em;
}

.mainpage h2{
    font-size: 1.5em;
}

.mainpage h2, a{
    font-family: 'Titillium Web', sans-serif;
}

.mainpage a:link, .mainpage a:visited{
    color: purple;
}

.mainpage a:hover{
    opacity: 0.8;
    text-decoration: none;
}

.mainlinks{
    margin-top: 20px !important;
}

.nav-ccc img {
    width: 50px;
}

.navbar-light .navbar-brand {
    font-family: 'Titillium Web';
    font-weight: 800;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(41,0,41);
    font-family: 'Titillium Web';
    font-weight: bold;
    outline: none;
}

.dropdown-item {
    font-family: 'Titillium Web';
    font-weight: 200;
    color: black;
}

.navbar-nav .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: purple !important;
}